
.homeMainPage {
  display: flex;
  overflow: hidden;
}
.customModal {
  height: 260px;
  width: 80 px;
  overflow: hidden;
  
}

.modalContent {
  padding: 5px; 
  overflow: hidden;
}


@media (max-width: 600px) {
  .hideWhenMobile {
    display: none;
  }
}

@media (min-width: 600px) {
  .hideWhenPc{
    display: none;
  }
}

.colorButton1 {
  border-radius: 50%;
  min-width: 29px;
  min-height: 29px;
  background-color: #b38bfa;
  border: 0px solid #b48bfa00;
}

.colorButton2 {
  border-radius: 50%;
  min-width: 29px;
  min-height: 29px;
  background-color: #ff79f2;
  border: 0px solid #b48bfa00;
}

.colorButton3 {
  border-radius: 50%;
  min-width: 29px;
  min-height: 29px;
  background-color: #43e6fc;
  border: 0px solid #b48bfa00;
}

.colorButton4 {
  border-radius: 50%;
  min-width: 29px;
  min-height: 29px;
  background-color: #f19576;
  border: 0px solid #b48bfa00;
}

.colorButton5 {
  border-radius: 50%;
  min-width: 29px;
  min-height: 29px;
  background-color: #0047ff;
  border: 0px solid #b48bfa00;
}

.colorButton6 {
  border-radius: 50%;
  min-width: 29px;
  min-height: 29px;
  background-color: #6691ff;
  border: 0px solid #b48bfa00;
}
.colorButtonSelected {
  border: 2px solid black;
  /* You can add more styles if needed */
}

.colorButton6:active, .colorButton5:active, .colorButton4:active, .colorButton3:active, .colorButton2:active, .colorButton1:active {
    border: none;
  }

.Choosecolour {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .ChoosecolourBreak::before {
    content: "\a";
    white-space: pre;
  }
}

.create {
  color: #fff;
  width: 200px;
  left: 50%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160.188%; 
  letter-spacing: 0.04375rem;
  border: none;
  min-width: 111px;
  min-height: 41px;
  border-radius: 0.6875rem;
  background: #16008B;

  position: relative;

 
}
@media (max-width: 600px) {
  .create {  
    width: 250px;
    height: 41px;
    position: center;
    left: 20%;
  }

  .placeHold {
    padding-left: 20px; 
  }
}
.placeHold {
  border-radius: 1.375rem;
  border: 2px solid #ccc;
  background: #fff;
  height: 27px;
  width: 211px;
}

.placeHold::placeholder {
  position: relative;
  left: 11px;
}

.Text1 {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 579;
  line-height: 160.188%;
  letter-spacing: 0.06344rem;
  margin-top: 0%;
}

.Text2 {
  color: #000;
  font-family:'Roboto', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160.188%; 
  letter-spacing: 0.05975rem;
}
